/* 
    Document   : style
    Created on : Sep 9, 2013, 10:23:56 PM
    Author     : tony
    Description:
        Purpose of the stylesheet follows.
*/

html body{
    font-family: 'Rokkitt', serif;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    color: #180000;
}

#content{
    width: 50em;
    border: 2px solid #0000ff;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-radius: .5em;
}

#content #appName{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

#content h1{
    margin: 0;
    font-style: italic;
}

#content p{
    font-size: 1.8em;
}

#content fieldset{
    border-radius: 1em;
    font-size: 1.8em;
}

#content fieldset form{
    display: block;
}

label{
    display: inline-block;
    width: 10em;
}

input{
    width: 15em;
    border-radius: .25em;
}

#submit{
    background-color: #0000ff;
    color: #f1f1f1;
    width: 6em;
    height: 2em;
    border-radius: .5em;
    margin-left: 14em;
    font-weight: bold;
}

.italic{
    font-style: italic;
}

